# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variables (real secrets)
terraform.tfvars
*.auto.tfvars

# AWS / SSH
*.pem
*.key

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# Environment files
.env
