environment        = "dev"
aws_region         = "eu-central-1"
vpc_cidr           = "192.168.0.0/16"
public_subnets_ids = ["192.168.1.0/24", "192.168.2.0/24"]
private_subnets    = ["192.168.3.0/24", "192.168.4.0/24"]

key_name    = "key_name"
db_username = "username"
db_password = "password"
ami_id      = "ami-id"
